<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.days.moment.security.mapper.MemberMapper">

    <resultMap id="memberMap" type="com.days.moment.security.domain.Member">
        <id property="mid" column="mid"></id>
        <result property="mpw" column="mpw"></result>
        <result property="mname" column="mname"></result>
        <result property="enabled" column="enabled"></result>
        <collection property="roleList" resultMap="memberRoleMap"></collection>
    </resultMap>

    <resultMap id="memberRoleMap" type="com.days.moment.security.domain.MemberRole">
        <result property="mid" column="mid"></result>
        <result property="role" column="role"></result>

    </resultMap>


    <select id="findByMid" resultMap="memberMap">
        select * from tbl_member m inner join tbl_member_role tmr on m.mid = tmr.mid
        where m.mid = #{mid}
    </select>

</mapper>