<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.days.moment.board.mapper.ReplyMapper">

    <insert id="insert">
        insert into tbl_reply (bno, replyer, reply)
        values (#{bno}, #{replyer}, #{reply})

    </insert>

    <select id="getListWithBoard" resultType="com.days.moment.board.domain.Reply">
        select * from tbl_reply where bno = #{bno} order by rno asc

    </select>

    <delete id="delete">
        delete from tbl_reply where rno = #{rno}
    </delete>

    <update id="update">
        update tbl_reply set reply = #{reply}, modDate = now() where rno = #{rno}
    </update>




</mapper>